$font-stack: 'Montserrat', sans-serif;
$green-color: #3aa17e;
$blue-color: #00537e;
$light-gray-color: #C7D4DB;
$gray-color: #686c70;
$dark-gray-color: #2d3033;
$black-color: #202529;


%flexWrap {
    display: flex;
    flex-wrap: wrap;
  }

  %flexNoWrap{
    display: flex;
    flex-wrap: nowrap;
  }



.listContainer {
    width: auto;
    background: white;
    padding: 20px;
    @extend %flexWrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    a {
        width: 100%;
    }
}

.itemBox {
    position: relative;
    height: auto;
    width: 100%;
    margin-bottom: 20px;
    padding: 18px 50px 10px 10px;
    box-shadow: 0 6px 10px $light-gray-color;
    background: white;
}

.itemBox:nth-child(odd) {
    margin-right: 2%;
}

.counter{
    color: $gray-color;
    padding-top: 3px;
    @extend %flexNoWrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    p {
        margin-right: 10px; 
    }
}

.delete {
    font-size: 20px;
    text-align: center;
    color: $blue-color;
    padding-top: 2px;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 26px;
    height: 26px;

}



// THIS IS TABLET ===================================
@media only screen and (min-width: 500px) {
    .itemBox {
        width: 49%;
    }
}



// THIS IS DESKTOP  ===================================
@media only screen and (min-width: 960px) {
    .listContainer {
        width: 350px;
        display: block;
    }
    
    .itemBox {
        width: 100%;
    }

    .itemBox:nth-child(odd) {
        margin-right: 0;
    }
}