$gray-color: #686c70;
$green-color: #3aa17e;
$blue-color: #00537e;
$light-gray-color: #eef0f2;
$gray-color: #686c70;
$dark-gray-color: #2d3033;
$black-color: #202529;

%flexWrap {
    display: flex;
    flex-wrap: wrap;
}

  %flexNoWrap{
    display: flex;
    flex-wrap: nowrap;
}

@mixin transition($property) {
    -webkit-transition: $property;
    -moz-transition: $property;
    -o-transition: $property;
    background: $property; 
}

.pageBg2 {
    background: $green-color;
    background: linear-gradient(193deg, rgba(58,161,126,1) 0%, rgba(0,83,126,1) 100%);
    margin-top: -100px;
    padding: 120px 20px 50px 20px;
    min-height: 110vh;
    h3 {
        color: white;
        margin-bottom: 6px;
    }

}

.workoutCard {
    padding: 20px;
    margin-bottom: 15px;
    background-color: white;
    @extend %flexWrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
}

.workoutImg {
    height: auto;
    width: 100%;
    margin-right: 0;
}

.workoutInfo {
    width: 100%;
    margin-right: 0;
}

.workoutCount {
    width: auto;
    margin: 0 30px 0 0;
}

.addWorkoutBtn {
    background-color: white;
    color: $dark-gray-color;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 100px;
    right: 24px;
    font-size: 30px;
    text-align: center;
    padding-top: 16px;
    border-radius: 50%;
    @include transition(all .2s ease-out)
}

.addWorkoutBtn:hover {
    font-size: 40px;
    padding-top: 10px;
    color: $green-color;
    transform: rotate(90deg)
}

//Tablet view
@media only screen and (min-width: 500px) {
    .workoutImg {
        width: 50%;
    }
    
    .workoutInfo {
        width: 50%;
    }

    
}



//Desktop View
@media only screen and (min-width: 960px) {
    .workoutCard {
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    
    .workoutImg {
        height: 100px;
        width: 100px;
        margin-right: 10px;
    }
    
    .workoutInfo {
        max-width: 600px;
        margin-right: 10px;
    }
    
    .workoutCount {
        width: 200px;
        margin: 0 10px 0 0;
    }
}