$font-stack: 'Montserrat', sans-serif;
$green-color: #3aa17e;
$blue-color: #00537e;
$light-gray-color: #C7D4DB;
$gray-color: #686c70;
$dark-gray-color: #2d3033;
$black-color: #202529;


.main-header {
    /* background: rgb(58,161,126);
    background: linear-gradient(193deg, rgba(58,161,126,1) 0%, rgba(0,83,126,1) 100%); */
    // background-color: aqua;
    height: 60px;
    padding: 0 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    a {
        text-decoration: none;
        color: white;
        margin: 5px 10px;
        padding: 8px 10px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}
.main-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center; */
    align-content: center;
}

.main-links a{
    text-decoration: none;
    color: white;
    margin: 5px 10px;
    padding: 8px 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.main-links a:hover{
    background-color: white;
    color: $green-color;
}


.main-logo {
    height: 30px;
    width: auto;
}


//Tablet. Anything bigger than the breakpoint(960). 
@media only screen and (min-width: 500px) {
    .main-header {
        height: 80px;
        padding: 0 20px;
    }
    
    .main-links a{
        margin: 10px 15px;
        padding: 10px 15px;
    }
    
    .main-logo {
        height: 40px;
    }
}

//Desktop. Anything bigger than the breakpoint(960). 
@media only screen and (min-width: 960px) {
    .main-header {
        // background: rgb(58,161,126);
        // background: linear-gradient(193deg, rgba(58,161,126,1) 0%, rgba(0,83,126,1) 100%); 
        height: 80px;
        padding-right: 20px;
    }

    .main-logo {
        height: 50px;
       
    }
}