.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px; 
    padding: 0;
    box-sizing: border-box;
    background-color: transparent;
    background: transparent;
    border: none;
    cursor: pointer;
}

.toggle-button:hover {
    background-color: transparent;
    background: transparent;
}

.toggle-button:focus {
    outline: none;
}

.toggle-line {
    width: 30px;
    height: 2px;
    background: white;
}

@media only screen and (min-width: 960px) {
    .toggle-button {
        display: none;
    }
}