$blue-color: #00537e;

.userSide {
    background: $blue-color;
    // background-color: rgba(0,83,126,.3)
    background-color: rgba(38,43,53,1)
}

.pageLinks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: flex-end;
    align-self: flex-end;
}

.pageLinks a{
    text-decoration: none;
    color: white;
    margin: 5px 10px;
    padding: 8px 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

//.logoutBtn {
    // color: white;
    // a:link {
    //     text-decoration: none;
    //   }
      
    //   a:visited {
    //     text-decoration: none;
    //   }
      
    //   a:hover {
    //     text-decoration: underline;
    //   }
      
    //   a:active {
    //     text-decoration: underline;
    //   }
//}

