$font-stack: 'Montserrat', sans-serif;
$green-color: #3aa17e;
$blue-color: #00537e;
$light-gray-color: #eef0f2;
$gray-color: #686c70;
$dark-gray-color: #2d3033;
$black-color: #202529;


@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 80px;
}


h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    font-weight: 600;
    line-height: 70px;
    text-transform: uppercase;
    padding-bottom: 20px;
}


h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 67px;
}


h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 53px;
}


h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 24px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

a {
    font-family: 'Montserrat', sans-serif;
    

}

button {
    /* margin: 15px 0; */
    padding: 10px 15px;
    font-size: 18px;
    background: white;
    border-style: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    /* -webkit-transition: color 2s ease-out, background 2s ease-out;
    -moz-transition: color 2s ease-out;
    -o-transition: color 2s ease-out;
    transition: color 2s ease-out; */
}

button, .onWhite {
    background: $green-color;
    color: white;
    /* -webkit-transition: color 2s ease-out, background 2s ease-out;
    -moz-transition: color 2s ease-out;
    -o-transition: color 2s ease-out;
    transition: color 2s ease-out; */
}

button:hover {
    background: rgb(58,161,126);
    background: linear-gradient(193deg, rgba(58,161,126,1) 0%, rgba(0,83,126,1) 100%);
    color: white;
}

.spacer {
    height: 40px;

}

.ten {
    height: 10px;
} 